"","NAME","FINAL","#1","#2","#3","#4","#5","#6","#7","#8","#9","#10","#11","#12","#13","#14","#15","#16","#17","#18","#19","#20","","",""
"15CS30043","Prajwal Singhania","","SrG2","SrG1","PG4","AM5","NG1","","","","","","","","","","","","","","","","","",""
"15CS30032","Siddharth Singh","","SrG2","SrG1","PG4","AM5","NG1","","","","","","","","","","","","","","","","","",""
"15CS10030","Nisarg Shah","","PG4","PG2","AM5","AM2","NG1","","","","","","","","","","","","","","","","","",""
"15CS10010","Bhanu Prakash Reddy Guda","","PG4","AM1","AM2","PG3","AM3","PG5","","","","","","","","","","","","","","","","",""
"15CS30005","Atharva Vyas","","AM4","NG1","PG4","AM5","DM3","","","","","","","","","","","","","","","","","",""
"15CS10053","Vivek Gupta","","AM1","AM2","PG5","NG1","AM3","BM4","RSC1","PG4","SS3","","","","","","","","","","","","","",""
"15CS10001","Aayush Gupta","","PG4","PG5","PPD1","PPD2","RSC1","SB1","SrG1","NG1","NG2","RSC2","","","","","","","","","","","","",""
"15CS10061","Subham Rajgaria","","AM3","SrG1","SrG2","AM5","NG1","PPD5","PPD4","PG4","PG1","SB4","SB1","SS3","SS2","SS5","SS1","AM4","AM2","AM1","PG3","PG2","","",""
"15CS10062","Anubhav Jain","","PG4","PG2","SrG2","SrG1","AM5","PPD1","","","","","","","","","","","","","","","","",""
"15CS30024","S Nishok Kumar","","DM3","DM5","DM6","AD1","AD2","DM1","RM1","RM2","PPD1","PPD2","","","","","","","","","","","","",""
"15CS10004","Aman Purwar","","AG1","AG2","NG2","NG3","PG5","NG4","AM1","NG6","PPD1","PPD2","SC1","","","","","","","","","","","",""
"15CS30037","Tokala Yaswanth Sri Sai Santosh","","AM1","AM4","AM3","AM2","PG5","SrG1","NG1","NG2","NG6","BM3","","","","","","","","","","","","",""
"15CS10058","Sharmila Reddy Nangi"," ","PG4","AM5","AM3","AM4","PG5","NG4","PG2","","","","","","","","","","","","","","","",""
"15CS30042","Charugundla Sree Theerdha","","AM5","AM3","AM4","SrG1","PG1","PG4","PM1","PM3","PPD4","BM4","","","","","","","","","","","","",""
"15CS10050","Veldurthy Sudhanyu","","PG4","PG5","PM3","SrG1","AM4","PM2","NG2","NG1","SB1","PPD5","SB2","BM2","AM5","RSC1","","","","","","","","",""
"15CS30040","Vishesh Agarwal","","AM5","PG2","SrG2","PG1","SS1","PG3","PPD2","AM2","SS5","PG5","AM3","PM2","","","","","","","","","","",""
"15CS30044","Nishant Baranwal Somy","","AM1","PG4","PG5","AM5","PG3","AM2","DM3","SRG2","SRG1","RSC1","AG1","SB1","AG2","PG1","NG2","PB4","PPD5","","","","","",""
"15CS10034","Prakhar Gupta","","PG4","SrG1","PPD3","PG1","PPD3","PPD5","PPD4","PPD1","PPD2","","","","","","","","","","","","","",""
"15CS30003","Arkajyoti Pal","","NG1","NG6","NG2","PG5","PG3","AM5","PG4","SrG1","SrG2","AM1","AM3","AM2","PM2","SB2","BM4","PM1","SB1","SB4","NG3","RM1","","",""
"15CS10002","Addanki Surya Teja","","AG1","AG2","SC1","SPP2","","","","","","","","","","","","","","","","","","",""
"15CS10059","Hardik Tharad","","PG4","PG5","PG2","PG3","AM5","PG1","NG5","NG2","AM3","NG6","AM1","AM2","","","","","","","","","","",""
"15CS30041","Yeredla Shekar Reddy","","PG4","PM3","PM2","AM5","AM2","PG5","PG3","PG2","SB1","SS2","","","","","","","","","","","","",""
"15CS10057","Suyash Damle","","AM5","NG1","SS3","AM3","AM1","SB2","NG3","SrG1","SC2","PG4","PG5","SS2","AM2","PPD5","AM4","PPD1","SB3","PM2","PM3","NG2","","",""
"15CS10060","Shikha Panwar","","SC4","SC2","SC1","SC3","AG1","AG2","DM5","DM6","SKG3","SKG1","DRC1","SPP2","JM1","JM2","AM3","AM2","AM1","AM4","","","","",""
"15CS10046","Tejus Gupta","","SS6","JM1","JM2","PM2","PM3","SS4","PPD5","PPD4","PM1","","","","","","","","","","","","","",""
"15CS30035","Sumeet Shirgure","","AM4","PG2","PG3","PG1","AM5","SB2","SrG1","SrG2","PPD1","PPD2","SD3","NG2","","","","","","","","","","",""
"15CS30006","Ayush Bansal","","AM5","AM3","AM1","AM2","SrG2","SrG1","PG4","PG5","PG2","PG1","SC2","SC1","PPD3","PPD2","PPD1","NG5","NG1","NG2","PM2","SB1","","",""
"15CS10023","Kunal Aggarwal","","AM1","AM5","PG4","PG5","NG1","PM3","RSC1","RSC2","NG2","NG3","SB1","SB2","PPD1","PM2","","","","","","","","",""
"15CS10013","Duvvuri Venkata Sai Surya Subramanyam","","PM1","PM3","PM2","PG2","PG1","NG1","","","","","","","","","","","","","","","","",""
"15CS30033","Spandan Kumar Sahu","","PPD1","PPD3","PPD2","PPD5","AG1","AG2","NG1","SC2","SC1","JM1","RSC2","DM3","DM4","RSC1","ISG3","AM5","ISG1","NG2","NG3","PG4","","",""
"15CS10038","Rishabh Kashyap","","PG5","PG4","SB1","PM1","PM2","PPD3","BM4","BM3","PM3","PPD1","PPD2","PPD5","PPD4","SS2","SS3","SC2","BM2","BM1","NG2","SB2","","",""
"15CS10044","Surya S Dwivedi","","JM1","JM2","PPD3","PM2","PM3","","","","","","","","","","","","","","","","","",""
"15CS30029","Shivam Goenka","","PPD2","PPD4","BM3","SC2","NG6","SS3","NG4","","","","","","","","","","","","","","","","15CS30029"
"15CS10043","Sikchi Harshit Sushil","","PM3","JM2","JM1","PM3","PPD5","PPD4","PM1","PPD3","SS2","SS6","SS5","SS3","SS1","AM1","AM2","AM3","AM4","AM5","","","","",""
"15CS10005","Animesh Kashyap","","AG1","AG2","AM5","SC1","PG4","SC3","SS3","NG1","NG2","NG3","DM5","PPD5","PG5","PPD4","PG1","JM1","JM2","NG4","NG5","NG6","","",""
"15CS10037","Rayapati Pavan Gopal","","PM3","RSC1","SB1","BM3","SS3","SS6","","","","","","","","","","","","","","","","",""
"15CS10018","Karri Sai Satish Kumar Reddy","","NG2","PG5","PM3","PPD5","SC2","PPD4","BM4","","","","","","","","","","","","","","","",""
"15CS10055","Yashsvi Dixit","","JM1","JM2","PM3","PM2","","","","","","","","","","","","","","","","","","",""
"15CS30002","Adha Ranjith Kumar","","AG1","AG2","PPD5","PM3","JM1","JM2","PM2","SC2","PPD4","SS3","SS6","","","","","","","","","","","",""
"15CS10020","Kollipara Venkata Sambasiva Aravind","","AM5","AM1","AG1","PM3","NG1","NG3","SC1","SC4","","","","","","","","","","","","","","",""
"15CS10025","Lakshya","","SC1","RSC2","AG2","ISG2","KSR2","PM3","PrM1","BM5","DM5","DRC3","AM1","AM2","AM4","BM3","","","","","","","","",""
"15CS30011","Chittepu Harsha Sai Reddy","","SC4","NG1","SC1","NG2","PPD3","SC2","SB1","SB2","PM3","RSC2","RSC1","","","","","","","","","","","",""
"15CS30008","Buridi Sree Aditya","","SS2","SS6","JM1","JM2","PM2","PM3","DM5","DRC1","","","","","","","","","","","","","","",""
"15CS10028","Mayank Khetan","","","","Hi","Pocchi","","","","","","","","","","","","","","","","","","",""
"15CS10033","Pochhi Nilay Laxmikant","","PG4","AM4","AM1","AM2","","","","","","","","","","","","","","","","","","",""
"15CS30001","Achal Gupta","","PPD4","PPD3","PPD5","PM3","PM2","PM1","SB1","SB2","SB4","SB3","JM1","JM2","RM2","RM1","","","","","","","","",""
"15CS30014","Dingari Gauthama Vishnu Simha","","PPD5","PM3","PPD4","PM2","SC4","SC1","SC2","SB1","SB2","SB4","SS3","SS6","","","","","","","","","","",""
"15CS10012","Deepak Yadav","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS30036","Tanay Bhartia","","DRC1","DRC4","ISG2","DSM3","DSM1","PPD5","PPD1","PPD3","RM1","","","","","","","","","","","","","",""
"15CS10009","B Vishnu Vardhan","","SC1","SB1","NG6","SB2","NG4","ISG2","RM1","RSC1","PM2","SS3","SS6","","","","","","","","","","","",""
"15CS10029","Meneni Koushik","","NG1","SB2","RSC1","NG6","SB4","","","","","","","","","","","","","","","","","",""
"15CS30019","Mayank Bhushan","","PPD5","SS2","SS6","JM1","JM2","PM2","DM5","SC4","SKG3","","","","","","","","","","","","","",""
"15CS10048","Ujwal Kumar","","SC1","RSC2","SPP2","","","","","","","","","","","","","","","","","","","",""
"15CS30039","Vishal Gupta","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS10045","Swastik Haldar","","PM3","PM2","JM1","JM2","SB1","SB2","SS1","BM4","SB4","BM2","","","","","","","","","","","","",""
"15CS10024","Kuraganti Meher Deepika","","SrG1","SrG2","SB1","SB4","SB2","RSC1","DSM4","KSR2","PM1","PM3","NG1","NG2","PG4","PG5","SS1","SS5","SS3","PSD2","PSD4","","","",""
"15CS10008","Ayush Sharma","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS10047","Thota Vineeth Kumar","","PrM1","DRC3","","","","","","","","","","","","","","","","","","","","",""
"15CS10003","Akula Sai Krishna","","RSC1","RSC2","DM5","DM4","SC3","DM2","PB4","DRC2","SS4","SS5","","","","","","","","","","","","",""
"15CS10049","Vaibhav Gupta","","PG4","DRC1","","","","","","","","","","","","","","","","","","","","",""
"15CS10051","Vennapusa Hemanth Reddy","","RSC1","KSR2","RSC2","PM2","SC3","SKG3","DM4","","","","","","","","","","","","","","","",""
"15CS10056","Yashvardhan Singh","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS10006","Ankur Abhinav","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS30016","Himanshu Pareek","","PG5","PG4","PG3","PG2","PG1","SS1","SS2","SS6","DSM4","NG6","SS3","SS4","SS5","BM4","BM3","NG6","SB3","SB4","KSR1","KSR2","","",""
"15CS30009","Chandan Mahendra Patil","","SB4","RSC2","SB3","BM2","BM3","PG1","NG1","PG4","PG5","SB2","SS3","RM1","","","","","","","","","","",""
"15CS10015","Harsha Vattem","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS30018","Krushna Gaurkar","","NG1","SS2","NG2","PM2","PPD1","PPD2","PPD5","SrG2","NG3","SS5","BM2","","","","KSR1","KSR2","NG3","PM3","PPD3","","","",""
"15CS30010","Chavan Prathamesh Vasant","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS10041","Shubham Rungta","","BM3","SS3","","","","","","","","","","","","","","","","","","","","",""
"15CS10017","Kanchugantla Yashasvi","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS30021","Parikshit Soni","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS30031","Siddharth Jain","","DM5","DRC1","DRC4","DM6","ISG2","SC4","PM3","SKG1","PG5","DRC2","DSM3","","","","","","","","","","","",""
"15CS10026","Lalasa D","","PG5","PM2","NG2","NG1","SSL4","SSL3","SB1","KSR2","SKG2","SS3","DSM1","RSC1","SS4","DSM4","SB4","SKG3","SPP2","RSC2","RM2","PSD2","","",""
"15CS10042","Siddhant Meshram","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS30028","Shashi Ranjan Prakash","","PG5","PG1","RSC1","RSC2","RM1","RM2","SC2","SSL2","SB3","SPP2","SS3","SSL4","JM1","JM2","DM4","SKG3","SKG1","","","","","",""
"15CS10035","Raj Banoudha","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS10019","Katta Likhith Kumar","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS30007","Burada Manideep","","SSL2","SSL4","DRC3","DRC4","DRC2","SSL3","DSM4","DSM3","KSR2","KSR1","SB3","SB1","DSM1","PM2","PM3","PG1","PG2","NG5","SCR1","SCR2","","",""
"15CS30022","Patibandla Harikrishna","","RSC1","PG1","PM1","PM2","PM3","ISG3","ISG2","ISG1","PG2","PG3","PG5","PG4","DM4","SC2","RSC2","SC1","PB1","KSR1","KSR2","RgM1","","",""
"15CS10052","Vishwajeet Shukla","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS10014","Gautam Suman","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS30004","Arunansh Kaushik","","BM1","BM2","BM4","SSL2","NG3","PPD4","SB2","RSC1","SS1","SS3","RM1","RM2","PPD3","KSR1","KSR2","PB2","PB3","PB4","DSM2","NG5","","",""
"15CS10040","Satyam Sevanya","","","","","","","","","","","","","","","","","","","","","","","",""
"15CS30027","Sayan Naskar","","DRC2","","","","","","","","","","","","","","","","","","15CS30027","","","",""
